<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Base Page</title>
  </head>
  <body>

    {% include 'navbar.html' %}

    {% block content %}
    replace me
    {% endblock %}

  </body>
</html>
